body {
      text-align: center;
      }
 

.Art1 {

        border : 1px solid black;
        margin : 10px 10px;

       }

#myArticle {

        border : 1px solid black;
        margin : 10px 10px;

       }

